{% extends "base.html" %}

{% block page_title %}Sign Up{% endblock %}

{% block page_head %}Sign Up{% endblock %}

{% block page_content %}

  {% if form_submitted %}
      <div class="mb-3">
        <h2>Thank you for completing the form!</h2>
      </div>
      <div class="mb-3">
          <p><b>First Name:</b></p>
      </div>
      <div class="mb-3">
        <p>{{ request.form.get('first_name') }}</p>
      </div>
      <div class="mb-3">
          <p><b>Last Name:</b></p>
      </div>
      <div class="mb-3">
        <p>{{ request.form.get('last_name') }}</p>
      </div>
      <div class="mb-3">
          <p><b>Email:</b></p>
      </div>
      <div class="mb-3">
        <p>{{ request.form.get('email') }}</p>
      </div>
       <div class="mb-3">
           <p><b>Username:</b></p>
      </div>
      <div class="mb-3">
        <p>{{ request.form.get('username') }}</p>
      </div>

  {% else %}

<form class="row g-3" action={{ url_for('contact') }} method="post">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">First Name</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="first_name" placeholder="First Name" rows="1"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Last Name</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="last_name" placeholder="Last Name" rows="1"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="xyz@gmail.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Username</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Username" name="username" rows="1"></textarea>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
    {% endif %}
{% endblock %}